table {
    border-collapse: collapse;
}

caption {
    font-size: 16pt
}

th, td {
    border: 1px solid Gray;
    padding: 5px;
}

td.broj {
    text-align: right;
}

th {
    color: white;
    background-color: DodgerBlue;
}

tr:nth-child(even) {
    background-color: LightGray;
}

input[type="search"] {
    width: 100%;
}
